<section class="advantages" id="section-advantages">
    <div class="container">
        <div class="content-wrapper">
                    <h2 class="advantages-h2">Advantages</h2>
        <p class="advantages-afher-h2">Why it stands out</p>
        <ul class="advantages-ul">
            <li class="advantages-li first">
                <h3 class="advantages-h3">Clear Visual Logic</h3>
                <p class="advantages-p">Easy to understand what happens on the board.</p>
            </li>
             <li class="advantages-li second">
                <h3 class="advantages-h3">Balanced Difficulty</h3>
                <p class="advantages-p">Accessible but still challenging.</p>
            </li>
             <li class="advantages-li third">
                <h3 class="advantages-h3">Satisfying Feedback</h3>
                <p class="advantages-p">Every move actually feels like it matters - none of that mindless tapping stuff.</p>
            </li>
             <li class="advantages-li four">
                <h3 class="advantages-h3">Flexible Sessions</h3>
                <p class="advantages-p">Play anytime, at your own pace.</p>
            </li>
        </ul>
        </div>
    </div>
</section>