<section class="contact">
    <div class="container container-contact">
           <div class="contact-block">
    <h2 class="contact-header">Contacts</h2>
    <p class="contact-text">Reach out anytime</p>
    <address class="contact-mail">
        Email: <a href="mailto:info@brightpayloadway.space">info@brightpayloadway.space</a>
    </address>
    <a  class="button-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.openmygame.games.android.swipeelements&hl=en&gl=us">
        <div class="button-goggle">
            <img 
            src="/img/Google-Play-logo.png" 
            width="28"
            height="26"
            alt="Google-play-logo">
        </div>
        <div class="button-text">
            <svg class="" width="44" height="8">
            <use href="./img/sprite.svg#icon-get-it-on" class="google-get"></use>
        </svg>
        <svg class="" width="95" height="19">
        <use href="./img/sprite.svg#icon-google-play" class="google-play"></use>
        </svg>
        </div>
    </a>
   </div>
   <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/Contact.png 1x,
                /img/Contact@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/Contact-mobile.png 1x,
                /img/Contact-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

            
                <img 
                src="/img/Contact-mobile.png" 
                class="contact-photo"
                height="" 
                width="" 
                alt="contact-photo"
                loading="lazy"
                >
            </picture>
    </div>
</section>
