<section class="contact">
    <div class="container">
           <div class="contact-block">
    <h2 class="contact-header">Contacts</h2>
    <p class="contact-text">Reach out anytime</p>
    <address class="contact-mail">
        Email: <a href="mailto:info@brightpayloadway.space">info@brightpayloadway.space</a>
    </address>
    <a href=""></a>
   </div>
   <picture>
    <img src="../img/Contact.png" alt="contact-photo" width="508" height="508" class="contact-photo">
   </picture>
    </div>
</section>