<section class="faq">
   <div class="container container-accordion">
    <svg class="" width="" height="">
    <use href="../img/sprite.svg#icon-up-icon "></use>
    </svg>
    <div class="accordion">

  <div class="ac first">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Is the gameplay complicated?</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">No. It’s easy to learn.</p>
    </div>
  </div>
  
  <div class="ac second">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Do levels become harder?</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Yes. Difficulty increases gradually.</p>
    </div>
  </div>

    <div class="ac third">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Are there special abilities?
Yes. They unlock as you progress.</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Are there special abilities?
Yes. They unlock as you progress.</p>
    </div>
  </div>

    <div class="ac fourh">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Can I play casually?</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Can I play casually?
Yes. It’s designed for flexible play.</p>
    </div>
  </div>

     <div class="ac five">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Can I play casually?</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Is it suitable for beginners?</p>
    </div>
  </div>

</div>
   </div>
</section>