<section class="faq" id="section-faq">
   <div class="container">
    <h2 class="faq-header">FAQ</h2>

    
<div class="accordion">
  <div class="main-acc first">
    <div class="upper-case">
      <h2 class="accordion-h2">Is the gameplay complicated?</h2>

      <svg class="icon" width="26" height="14">
        <use href="./img/sprite.svg#icon-icon-down"></use>
      </svg>
    </div>

    <div class="accordion-content">
      <p class="accordion-content-text">
        No. It’s easy to learn.
      </p>
    </div>
  </div>

  <div class="main-acc second">
    <div class="upper-case">
      <h2 class="accordion-h2">Do levels become harder?</h2>

      <svg class="icon" width="26" height="14">
        <use href="./img/sprite.svg#icon-icon-down"></use>
      </svg>
    </div>

    <div class="accordion-content">
      <p class="accordion-content-text">
        Yes. Difficulty increases gradually.
      </p>
    </div>
  </div>

   <div class="main-acc third">
    <div class="upper-case">
      <h2 class="accordion-h2">Are there special abilities?</h2>

      <svg class="icon" width="26" height="14">
        <use href="./img/sprite.svg#icon-icon-down"></use>
      </svg>
    </div>

    <div class="accordion-content">
      <p class="accordion-content-text">
        Yes. They unlock as you progress.
      </p>
    </div>
  </div>

    <div class="main-acc fourth">
    <div class="upper-case">
      <h2 class="accordion-h2">Can I play casually?</h2>

      <svg class="icon" width="26" height="14">
        <use href="./img/sprite.svg#icon-icon-down"></use>
      </svg>
    </div>

    <div class="accordion-content">
      <p class="accordion-content-text">
        Yes. It’s designed for flexible play.
      </p>
    </div>
  </div>

    <div class="main-acc fifth">
    <div class="upper-case">
      <h2 class="accordion-h2">Is it suitable for beginners?</h2>

      <svg class="icon" width="26" height="14">
        <use href="./img/sprite.svg#icon-icon-down"></use>
      </svg>
    </div>

    <div class="accordion-content">
      <p class="accordion-content-text">
        Yes. Very accessible.
      </p>
    </div>
  </div>

</div>

   </div>
</section>