<section class="faq">
   <div class="container container-accordion">
    <div class="accordion">
  <div class="ac first">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Is the gameplay complicated?
        <svg class="icon" width="20" height="20">
        <use href="../img/sprite.svg#icon-down-icon"></use>
        </svg>
      </button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">No. It’s easy to learn.</p>
    </div>
  </div>
  
  <div class="ac second">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Do levels become harder?
        <svg class="icon" width="20" height="20">
        <use href="../img/sprite.svg#icon-down-icon"></use>
        </svg>
      </button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Yes. Difficulty increases gradually.</p>
    </div>
  </div>

    <div class="ac third">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Are there special abilities?
        <svg class="icon" width="20" height="20">
        <use href="../img/sprite.svg#icon-down-icon"></use>
        </svg>
</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">
Yes. They unlock as you progress.</p>
    </div>
  </div>

    <div class="ac fourh">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Can I play casually?
        <svg class="icon" width="20" height="20">
        <use href="../img/sprite.svg#icon-down-icon"></use>
        </svg>
      </button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Yes. It’s designed for flexible play.</p>
    </div>
  </div>

     <div class="ac five">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">Is it suitable for beginners?
        <svg class="icon" width="20" height="20">
        <use href="../img/sprite.svg#icon-down-icon"></use>
        </svg>
      </button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text">Yes. Very accessible.</p>
    </div>
  </div>

</div>
   </div>
</section>