<section class="features">
  <div class="container">
    <h2 class="title-features">Features</h2>
    <p class="text-title-features">Keeps you hooked without overwhelming you</p>
    <div class="features-circles">
      <div class="features-top-row">
        <div class="features-circle yellow">
          <h3 class="features-item-title">Elemental Theme</h3>
          <p class="features-item-text">
            Fire, water, earth, and air shape gameplay.
          </p>
        </div>

        <div class="features-circle violet">
          <h3 class="features-item-title">Dynamic Effects</h3>
          <p class="features-item-text">Reactions create satisfying visuals.</p>
        </div>

        <div class="features-circle blue">
          <h3 class="features-item-title">Level Variety</h3>
          <p class="features-item-text">Different layouts and objectives.</p>
        </div>
      </div>
      <div class="features-bottom-row">
        <div class="features-circle green">
          <h3 class="features-item-title">Smooth Controls</h3>
          <p class="features-item-text">Responsive and easy interaction.</p>
        </div>

        <div class="features-circle orange">
          <h3 class="features-item-title">Progression System</h3>
          <p class="features-item-text">Gradual increase in difficulty.</p>
        </div>
      </div>
    </div>
    <div class="features-swiper swiper">
      <div class="features-swiper-wrapper swiper-wrapper">
        <div class="features-slide swiper-slide">
          <div class="features-circle yellow">
            <h3 class="features-item-title">Elemental Theme</h3>
            <p class="features-item-text">
              Fire, water, earth, and air shape gameplay.
            </p>
          </div>
        </div>

        <div class="features-slide swiper-slide">
          <div class="features-circle violet">
            <h3 class="features-item-title">Dynamic Effects</h3>
            <p class="features-item-text">
              Reactions create satisfying visuals.
            </p>
          </div>
        </div>

        <div class="features-slide swiper-slide">
          <div class="features-circle blue">
            <h3 class="features-item-title">Level Variety</h3>
            <p class="features-item-text">Different layouts and objectives.</p>
          </div>
        </div>

        <div class="features-slide swiper-slide">
          <div class="features-circle green">
            <h3 class="features-item-title">Smooth Controls</h3>
            <p class="features-item-text">Responsive and easy interaction.</p>
          </div>
        </div>

        <div class="features-slide swiper-slide">
          <div class="features-circle orange">
            <h3 class="features-item-title">Progression System</h3>
            <p class="features-item-text">Gradual increase in difficulty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
