<section id="section-gallery">
    <div class="container">
        <h2 class="contact-gallery">Gallery</h2>
  <div class="swiper swiper-gallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-gallery">
            <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/gallery1.png 1x,
                /img/gallery1@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/gallery1-mobile.png 1x,
                /img/gallery1-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

            
                <img 
                src="/img/gallery1-mobile.png" 
                class="image-gallery"
                height="" 
                width="" 
                alt="Gallery image"
                loading="lazy"
                >
            </picture>

      </div>
      <div class="swiper-slide slide-gallery">
                    <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/gallery2.png 1x,
                /img/gallery2@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/gallery2-mobile.png 1x,
                /img/gallery2-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

                
                <img 
                src="/img/gallery2-mobile.png" 
                height="" 
                width="" 
                class="image-gallery"
                alt="Gallery image"
                loading="lazy"
                >
            </picture>
      </div>
      <div class="swiper-slide slide-gallery">
                    <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/gallery3.png 1x,
                /img/gallery3@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/gallery3-mobile.png 1x,
                /img/gallery3-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

                
                <img 
                src="/img/gallery3-mobile.png" 
                height="" 
                width="" 
                class="image-gallery"
                alt="Gallery image"
                loading="lazy"
                >
            </picture>
      </div>
      <div class="swiper-slide slide-gallery">
                    <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/gallery4.png 1x,
                /img/gallery4@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/gallery4-mobile.png 1x,
                /img/gallery4-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

    
                <img 
                src="/img/gallery4-mobile.png" 
                height="" 
                width="" 
                class="image-gallery"
                alt="Gallery image"
                loading="lazy"
                >
            </picture>
      </div>
      <div class="swiper-slide slide-gallery">
                    <picture>
                <!-- Desctop (1440px) -->
                <source 
                srcset="
                /img/gallery5.png 1x,
                /img/gallery5@2x.png 2x
                " 
                media="(min-width: 1440px)">

                <!-- Mobile (1439px) -->
                <source 
                srcset="
                /img/gallery5-mobile.png 1x,
                /img/gallery5-mobile@2x.png 2x
                " 
                media="(max-width: 1439px)">

                <!-- Фолбек -->
                <img 
                src="/img/gallery5-mobile.png"
                height="" 
                width="" 
                class="image-gallery"
                alt="Gallery image"
                loading="lazy"
                >
            </picture>
      </div>
    </div>
  </div>


<div class="swiper-navigation">
    <div class="reviews-prev">
        <svg class="btn-revies" width="14" height="26">
        <use href="./img/sprite.svg#icon-icon-right"></use>
        </svg>
    </div>
    <div class="reviews-next">
        <svg class="btn-revies" width="14" height="26">
        <use href="./img/sprite.svg#icon-icon-right"></use>
        </svg>
    </div>
</div>
    </div>
</section>