<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo-link" href="./index.html" aria-label="Home page">
        <svg class="logo-icon" width="48" height="48">
          <use href="./img/logo.svg"></use>
        </svg>
        <span class="logo-text">MATCH-3 ELEMENTS</span>
      </a>
      <a class="logo-link-mobile" href="./index.html" aria-label="Home page">
        <svg class="logo-icon-mobile" width="44" height="44">
          <use href="./img/logoPhone.svg"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="">About the Game</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">How to Play</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Advantages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Player Reviews</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
      </ul>
      <button class="menu-btn-my">
        <svg width="35" height="24">
          <use href="./img/sprite.svg#icon-burger-icon"></use>
        </svg>
      </button>
    </nav>

    <div class="mobile-menu">
      <button class="btn-closed-mobile-menu">
        <svg width="24" height="24" class="icon-closed-form">
          <use href="./img/sprite.svg#icon-close-icon"></use>
        </svg>
      </button>
      <nav>
        <ul class="mobile-menu-list">
          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">About the Game</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">How to Play</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">Features</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">Advantages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link-mobile" href="">Gallery</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">Player Reviews</a>
          </li>

          <li class="nav-item">
            <a class="nav-link-mobile" href="">FAQ</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
