<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo-link" href="./index.html" aria-label="Home page">
        <picture>
          <img
            class="logo-image-desktop"
            src="./img/logodesctop.png"
            alt="Match-3 Elements logo"
            width="48"
            height="48"
          />
        </picture>
        <span class="logo-text">MATCH-3 ELEMENTS</span>
      </a>

      <a class="logo-link-mobile" href="./index.html" aria-label="Home page">
        <picture>
          <img
            class="logo-image-mobile"
            src="./img/logoPhone@2x.png"
            alt="Match-3 Elements logo"
            width="44"
            height="44"
          />
        </picture>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="#section-about">About the Game</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-how-play">How to Play</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-features">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-advantages">Advantages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-gallery">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-reviews">Player Reviews</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-faq">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#section-contact">Contact</a>
        </li>
      </ul>

      <button class="menu-btn-my" data-action="open">
        <svg width="35" height="24">
          <use href="./img/sprite.svg#icon-burger-icon"></use>
        </svg>
      </button>
    </nav>

    <div class="mobile-menu" data-visible="close">
      <button class="btn-closed-mobile-menu" data-action="close">
        <svg width="24" height="24" class="icon-closed-form">
          <use href="./img/sprite.svg#icon-close-icon"></use>
        </svg>
      </button>

      <nav>
        <ul class="mobile-menu-list">
          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-about">About the Game</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-how-play">How to Play</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-features">Features</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-advantages">Advantages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link-mobile" href="#section-gallery">Gallery</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-reviews">Player Reviews</a>
          </li>

          <li class="nav-item">
            <a class="nav-link-mobile" href="#section-faq">FAQ</a>
          </li>

          <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="#section-contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
