<section class="hero" id="section-hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">MATCH THE ELEMENTS. MASTER THE BOARD</h1>
      <p class="hero-text">Every move shapes the reaction</p>
    </div>
  </div>

  <picture class="hero-picture">
    <source
      media="(min-width: 1440px)"
      srcset="./img/Hero.png 1x, ./img/Hero@2x.png 2x"
    />

    <img
      class="hero-image"
      src="./img/Hero-mobile.png"
      srcset="./img/Hero-mobile.png 1x, ./img/Hero-mobile@2x.png 2x"
      alt="Match-3 Elements"
    />
  </picture>

  <div class="container">
    <div class="hero-bottom-content">
      <a
        class="button-link-hero"
        href="https://play.google.com/store/apps/details?id=com.openmygame.games.android.swipeelements&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="button-goggle-hero">
          <img
            src="/img/Google-Play-logo.png"
            width="28"
            height="26"
            alt="Google-play-logo"
          />
        </div>
        <div class="button-text-hero">
          <svg class="" width="44" height="8">
            <use
              href="./img/sprite.svg#icon-get-it-on"
              class="google-get"
            ></use>
          </svg>
          <svg class="" width="95" height="19">
            <use
              href="./img/sprite.svg#icon-google-play"
              class="google-play"
            ></use>
          </svg>
        </div>
      </a>
      <h2 class="hero-bottom-title">CONTROL THE POWER OF ELEMENTS</h2>
    </div>
  </div>
</section>
