<section class="hero" id="section-hero">
  <div class="container ">

    <div class="hero-wraper">
       <div class="hero-content">
      <h1 class="hero-title">MATCH THE ELEMENTS. MASTER THE BOARD</h1>
      <p class="hero-text">Every move shapes the reaction</p>
      </div>


      <div class="hero-bottom-content">
        <a
        class="button-link-hero"
        href="https://play.google.com/store/apps/details?id=com.openmygame.games.android.swipeelements&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="button-goggle-hero">
          <img
            src="/img/Google-Play-logo.png"
            width="28"
            height="26"
            alt="Google-play-logo"
          />
        </div>
        <div class="button-text-hero">
          <svg class="" width="44" height="8">
            <use
              href="./img/sprite.svg#icon-get-it-on"
              class="google-get"
            ></use>
          </svg>
          <svg class="" width="95" height="19">
            <use
              href="./img/sprite.svg#icon-google-play"
              class="google-play"
            ></use>
          </svg>
        </div>
        </a>
        <h2 class="hero-bottom-title">CONTROL THE POWER OF ELEMENTS</h2>
      </div>
    </div>

  </div>

</section>
