<section class="how-play" id="section-how-play">
  <div class="container">
    <div class="content-wrapper">
          <div class="how-play-content">
      <div class="text-howplay-content">
        <div class="title-wrapper-content">
          <h2 class="title-howplay">How to Play</h2>
          <h3 class="how-play-subtitle">Combine, react, progress</h3>
        </div>
        <ul class="list-how-toplay">
          <li class="how-play-item">
            <h4 class="how-play-item-title">Match Elements</h4>
            <p class="how-play-item-text">
              Align three or more identical symbols to clear them
            </p>
          </li>
          <li class="how-play-item">
            <h4 class="how-play-item-title">Trigger Reactions</h4>
            <p class="how-play-item-text">
              Create larger matches to activate powerful effects
            </p>
          </li>
          <li class="how-play-item">
            <h4 class="how-play-item-title">Complete Objectives</h4>
            <p class="how-play-item-text">Focus on level-specific goals</p>
          </li>
          <li class="how-play-item">
            <h4 class="how-play-item-title">Use Special Tiles</h4>
            <p class="how-play-item-text">
              Unlock and activate unique abilities
            </p>
          </li>
          <li class="how-play-item">
            <h4 class="how-play-item-title">Advance Through Levels</h4>
            <p class="how-play-item-text">
              Progress into more complex challenges
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/howPlay.png 1x, ./img/howPlay@2x.png 2x"
        />

        <img
          class="how-play-image"
          src="./img/howPlay-mobile.png"
          srcset="./img/howPlay-mobile.png 1x, ./img/howPlay-mobile@2x.png 2x"
          alt="How to play Match-3 Elements"
          width="343"
          height="330"
        />
      </picture>
    </div>

    </div>

  </div>
</section>
