<section class="reviews" id="section-reviews">
  <div class="container container-gallery">
    <h2 class="reviews-h2">Player Reviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide first">
            <div class="block">
                <h3 class="players">ElementMaster</h3>
                <ul class="block-stars">
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li> <svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                </ul>
            <p class="players-comment">“Been playing for weeks now - the elemental theme isn't just for show, and the controls never get in my way.”</p>
            </div>
            
        </div>
         <div class="swiper-slide second">
            <div class="block">
                <h3 class="players">Anna V.</h3>
            <ul class="block-stars">
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li> <svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star-fill  "></use>
                </svg></li>
                </ul>
            <p class="players-comment">“My 8-year-old picked it up instantly, but I'm still finding new strategies after 50+ levels.”</p>
            </div>
        </div>
        <div class="swiper-slide third">
            <div class="block">
                <h3 class="players">PuzzleMind</h3>
            <ul class="block-stars">
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li> <svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                </ul>
            <p class="players-comment">“Nice variation of classic match-3.”</p>
            </div>
        </div>
        <div class="swiper-slide fours">
            <div class="block">
            <h3 class="players">Alex K.</h3>
            <ul class="block-stars">
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li> <svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star-fill"></use>
                </svg></li>
                </ul>
            <p class="players-comment">“Good balance between easy and challenging.”</p>
            </div>
        </div>
        <div class="swiper-slide five">
            <div class="block">
                <h3 class="players">FireWater</h3>
            <ul class="block-stars">
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li> <svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                    <li><svg class="" width="23" height="22">
                <use href="./img/sprite.svg#icon-Star"></use>
                </svg></li>
                </ul>
            <p class="players-comment">“Great visuals and smooth play.”</p>
            </div>
        </div>
      </div>
    </div>

<div class="swiper-navigation">
    <div class="reviews-prev" data-reviews-prev>
        <svg class="btn-revies" width="14" height="26">
        <use href="./img/sprite.svg#icon-icon-right"></use>
        </svg>
    </div>
    <div class="reviews-next" data-reviews-next>
        <svg class="btn-revies" width="14" height="26">
        <use href="./img/sprite.svg#icon-icon-right"></use>
        </svg>
    </div>
</div>
  </div>
</section>
