

.contact-header{
    font-family: "Luckiest Guy", sans-serif;
font-weight: 400;
font-size: 36px;
color: #faf7f0;
margin-bottom: 16px;
-webkit-text-stroke:2px #5a3e2b
}

.contact-text{
font-family: "Baloo 2", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.4;
letter-spacing: 0.01em;
color: #5a3e2b;
margin-bottom: 16px;

}
.contact-mail{
    width: 100%;
    max-width: 343px;
font-family: "Baloo 2", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.4;
letter-spacing: 0.01em;
color: #5a3e2b;
margin-bottom: 24px;
}
.contact-photo{
    width: 100%;
    max-width: 508px;
    height: 508px;
}

/*#region Button-google*/
.button-goggle{
    padding-left: 10px;
}
.google-get{
    fill: #fff;
stroke-width: 0.20px;
stroke: #fff;   
}
.google-play{
    fill: #fff;
}
.button-link{
   width: 150px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:  #000;
   border: 1px solid #a6a6a6;
   border-radius: 5px;
   gap: 10px;
}
.button-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 7px 0;
    padding-right: 10px;
}

/*#endregion */
 .contact-block{
    width: 100%;
    max-width: 508px;
}
.container-contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}


@media only screen and (max-width: 1439px) {
    .contact-photo{
        width: 100%;
    max-width: 343px;
    height: 343px;
}
.container-contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.contact-block{
    width: 100%;
    max-width: 343px;
}
.contact-header{
    font-size: 24px;
}
}
@media only screen and (max-width: 375px){
  .contackt-adress p {
  white-space: wrap;
}
}