.footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}
.footer-content a,
.footer-content p {
  white-space: nowrap;
}
.footer-content a{
font-weight: 600;
font-size: 12px;
letter-spacing: 0.01em;
color: #5a3e2b;
}
.footer-content p{
font-weight: 600;
font-size: 12px;
letter-spacing: 0.01em;
text-align: center;
color: #5a3e2b;
}
@media only screen and (min-width: 1440px) {
  .footer-content{
    justify-content: space-between;
  }
}