.hero-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: #faf7f0;
    margin: 0;         
  line-height: 50px; 
  -webkit-text-stroke: 2px #5a3e2b; 
  margin-bottom: 16px;     
}

.hero {
  background-image: url('../img/Hero.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  min-height: 750px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;

}
.hero-content{
  display: flex;
  flex-direction: column;
}

.hero-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #5a3e2b;
  margin: 0;         
  line-height: 35px; 
}

.button-link-hero {
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  gap: 10px;
}

.button-text-hero {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 7px 0;
  padding-right: 10px;
}

.button-goggle-hero {
  padding-left: 10px;
}

.hero-bottom-title {
  font-weight: 400;
  font-size: 56px;
  text-align: right;
  color: #faf7f0;
  font-family: 'Luckiest Guy', sans-serif;
  -webkit-text-stroke: 2px #5a3e2b;
   margin: 0;         
  line-height: 1.1; 
}

.hero-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
}

.hero-bottom-wrapper{
  margin-top: 478px;
  padding-right: 0px;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/Hero@2x.png');
  }
}

@media only screen and (max-width: 1439px) {
  .hero {
    background-image: url('../img/Hero-mobile.png');
    background-position: center top;
    background-size: 375px auto;

    min-height: 528px;

    padding-top: 16px;
    padding-bottom: 16px;
  }
  .hero-bottom-content {
  gap: 24px;
}

  .hero-title {
    font-weight: 400;
    font-size: 28px;
    -webkit-text-stroke: 2px #5a3e2b;
        margin: 0;         
  line-height: 23px; 
  }

  .hero-text {
    font-weight: 600;
    font-size: 20px;
  }

  .hero-bottom-wrapper {
    margin-top: 437px;
  }

  .hero-bottom-title {
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    -webkit-text-stroke: 2px #5a3e2b;
    letter-spacing: 0;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 1439px) and (min-resolution: 192dpi),
  only screen and (max-width: 1439px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/Hero-mobile@2x.png');
  }
}
